@{
    ViewData["Title"] = "Display Page";
}

<div class="text-center">
    <h1 class="display-4">Display Student</h1>
    <hr/>
    <h1>Roll Number</h1>
    <h3>@Model.RollNo</h3>
    <h1>First Name</h1>
    <h3>@Model.Fname</h3>
    <h1>Last Name</h1>
    <h3>@Model.Lname</h3>




    @* <table border="1" align="center">
        <thead align="center">
            <tr>
                <th>Roll No</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody align="center">
            <tr>
                <td>@Model.RollNo</td>
                <td>@Model.Fname</td>
                <td>@Model.Lname</td>
            </tr>
        </tbody>
    </table> *@
</div>
